<div class="mt-10 font-bold bg-gray-200 h-20">
<div class="borderfooter"></div>
<div class="flex justify-items-center text-center pt-4">
    <div class="flex-1 self-center ">© 2021 Copyright: SE1402-HumanResourceTeam</div>
    <div class="flex-1">
        <i style="margin-right: 10px; color: blue; font-size: 2rem;" class="pi pi-facebook"></i>
        <i style="margin-right: 10px; color: lightskyblue; font-size: 2rem;" class="pi pi-twitter"></i>
        <i style="font-size: 2rem;" class="pi pi-github"></i>
    </div>
</div>
</div>

